.logo{
    margin: 10px 0;
}

.logo img{
    width: 300px;
    margin: auto;
}

nav.navbar {
    background: #000;
}

ul {
    width: 92%;
    margin: auto;
    display: flex;
}

li {
    list-style: none;
    padding: 10px 0px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px;
}
a:hover{
    background-color: white;
    color: black;
}