.register{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.register input{
    display: block;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 5px auto;
    width: 60%;
    padding: 5px;
}
.iconBtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 10px auto;
}
.iconBtn{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 8px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.iconBtn img{
    width: 90%;
}

