.shopping{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}

.products-container{
    border-right: 1px solid #d3d3d3;
}

.shearch-bar{
    background-color: #222222;
    text-align: center;
}
.shearch-bar input{
    width: 70%;
    margin: 20px auto;
    padding: 10px;
}

.icon{
    color: white;
    margin-left: 5px;
    font-size: 23px;
}